$blueGreen: #d3efd8;
$darkBlueGreen: #add4ca;
$gray: #808080;
$lightGray: #e8e8e8;
$darkGray: #958d80;
$blue: #217885;
$lightBlue: #aed7c9;
$green: #4d8643;
$brown: #685549;
$lightPink: #f2d6c3;
$white: #ffffff;
$orange: #d8713d;
$background: #f8faf8;
$red: #e81010;
$text: #393939;
$yellow: #ebc91e;